

.header {
    border-radius: $s-radius;
    max-width: 1090px;
    border: $s-border;
    margin: 0 auto;
    padding: 10px;

    &__current-currency {
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    &__current-rate {
        color: $c-dark-grey;
    }

    &__title {
  text-transform: uppercase;
  display: inline-block;
  margin: 0; }

  &__subtitle {

background: url('https://i.ibb.co/RDTnNrT/animated-text-fill.png') repeat-y;
text-shadow: 0 0 80px rgba(255,255,255,.5);
font: 700 20px "Oswald", sans-serif;
-webkit-text-fill-color: transparent;
animation: aitf 80s linear infinite;
transform: translate3d(0,0,0);
-webkit-background-clip: text;
backface-visibility: hidden;
padding: .25em 0 .325em;
background-clip: text;
letter-spacing: 8px;
display: block;
}

}

@keyframes aitf {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}